.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  padding: 17.5px 24px;
  background-color: var(--system-violet, #6725a8);
}

.logo__container {
  display: flex;
  gap: 16px;
}

.catalog__icon {
  display: flex;
  padding: 12px 10px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.45);
  cursor: pointer;
}

.logo__title {
  width: 107px;
  flex-shrink: 0;
  color: var(--system-white, #fff);
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  font-variant: all-small-caps;
  letter-spacing: 0.56px;
}

.header__input-container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.header__input-container img {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.header__input {
  padding: 12px 20px;
  outline: none;
  border: none;
  border-radius: 36px;
  background: rgba(255, 255, 255, 0.2);
  width: 100%;
  color: var(--system-white, #fff);
  font-family: Segoe UI;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.header__input::placeholder {
  opacity: 0.5;
  color: #fff;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 43px;
}

.nav__link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}

.nav__link span {
  color: var(--system-white, #fff);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.input__btn-container {
  display: none;
  justify-content: flex-end;
}

.input__btn-container button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  float: right;
}

.logo-btn-img {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
