.fixed-overlay {
  display: none;
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(5, 0, 10, 0.3);
}
.active {
  display: block;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal__container {
  background-color: white;
  padding: 16px 24px 24px 24px;
  border-radius: 10px;
}

.modal__title-block {
  display: flex;
  align-items: center;
  gap: 185px;
  margin-bottom: 13px;
}

.modal__title-block h2 {
  color: var(--text-black, #000);
  font-family: Segoe UI;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.2px;
}

.modal__title-block button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container-label {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
  padding-left: 35px;
  margin-bottom: 16px;
  cursor: pointer;
  color: var(--text-black, #000);
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 2;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

.container-label input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container-label:hover input ~ .checkmark {
  background-color: #ccc;
}

.container-label input:checked ~ .checkmark {
  background-color: #cb11ab;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container-label input:checked ~ .checkmark:after {
  display: block;
}

.container-label .checkmark:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.modal__button {
  margin-top: 127px;
  display: flex;
  height: 44px;
  padding: 0px 48px 5px 48px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--system-white, #fff);
  text-align: center;
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  border-radius: 8px;
  background: var(--system-magenta, #cb11ab);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.08);
  border: none;
  cursor: pointer;
}
